# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [5]:
import pandas as pd
import numpy as np
df_s1 = pd.Series(np.random.randint(1, 5, 100))
df_s2 = pd.Series(np.random.randint(1, 4, 100))
df_s3 = pd.Series(np.random.randint(10000, 30001, 100))

print(df_s1, df_s2, df_s3)

0     2
1     2
2     4
3     2
4     2
     ..
95    2
96    3
97    1
98    2
99    1
Length: 100, dtype: int32 0     3
1     1
2     3
3     3
4     3
     ..
95    1
96    1
97    3
98    2
99    1
Length: 100, dtype: int32 0     18498
1     28338
2     13708
3     29094
4     17109
      ...
95    27550
96    24489
97    15886
98    21778
99    29206
Length: 100, dtype: int32

### Let's create a DataFrame by joinning the Series by column

In [11]:
df = pd.concat([df_s1, df_s2, df_s3], axis=1)
df

    0  1      2
0   2  3  18498
1   2  1  28338
2   4  3  13708
3   2  3  29094
4   2  3  17109
.. .. ..    ...
95  2  1  27550
96  3  1  24489
97  1  3  15886
98  2  2  21778
99  1  1  29206

[100 rows x 3 columns]

### Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [15]:
df.rename(columns = {0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, inplace=True)
df

    bedrs  bathrs  price_sqr_meter
0       2       3            18498
1       2       1            28338
2       4       3            13708
3       2       3            29094
4       2       3            17109
..    ...     ...              ...
95      2       1            27550
96      3       1            24489
97      1       3            15886
98      2       2            21778
99      1       1            29206

[100 rows x 3 columns]

### Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [26]:
s_3=pd.concat([df_s1, df_s2, df_s3])
s_3 = pd.DataFrame(s_3)
s_3.rename(columns={0:'bigcolumn'}, inplace=True)

### Oops, it seems it is going only until index 99. Is it true?

In [27]:
s_3

    bigcolumn
0           2
1           2
2           4
3           2
4           2
..        ...
95      27550
96      24489
97      15886
98      21778
99      29206

[300 rows x 1 columns]

### Reindex the DataFrame so it goes from 0 to 299

In [31]:
s_3.reset_index()

     index  bigcolumn
0        0          2
1        1          2
2        2          4
3        3          2
4        4          2
..     ...        ...
295     95      27550
296     96      24489
297     97      15886
298     98      21778
299     99      29206

[300 rows x 2 columns]