# Investor - Flow of Funds - US

### Introduction:

Special thanks to: https://github.com/rgrp for sharing the dataset.

### Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Assign it to a variable called

In [1]:
import pandas as pd
df_invest = pd.read_csv('https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv')
df_invest.head()

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
1,2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2,2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
3,2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
4,2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

###  What is the frequency of the dataset?

In [2]:
# weekly data

### Set the column Date as the index.

In [3]:
df_invest.set_index('Date').head()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

### What is the type of the index?

In [4]:
df_invest['Date'].dtype

dtype('O')

### Set the index to a DatetimeIndex type

In [5]:
df_invest.index = pd.to_datetime(df_invest.index)
type(df_invest.index)

pandas.core.indexes.datetimes.DatetimeIndex

###  Change the frequency to monthly, sum the values and assign it to monthly.

In [8]:
monthly = df_invest.resample('M').sum()
monthly

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
1970-01-31,-7116,-79901,72786,30106,107915,85007,22907,130902

### You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.

In [9]:
monthly = monthly.dropna()
monthly

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
1970-01-31,-7116,-79901,72786,30106,107915,85007,22907,130902

### Good, now we have the monthly data. Now change the frequency to year.

In [10]:
year = monthly.resample('AS-JAN').sum()
year

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
1970-01-01,-7116,-79901,72786,30106,107915,85007,22907,130902

### BONUS: Create your own question and answer it.

In [12]:
#we have the monthly data. Now change the month of December.
year1 = monthly.resample('AS-DEC').sum()
year1

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
1969-12-01,-7116,-79901,72786,30106,107915,85007,22907,130902